@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
body { @apply bg-gray-50 text-gray-900; }
.dark body { @apply bg-gray-900 text-gray-100; }
.card { @apply bg-white dark:bg-gray-800 p-4 rounded-lg shadow; }
